In [41]:
from jaqs_fxdayu.util import dp
from jaqs.data.dataapi import DataApi

start = 20160101
end = 20180101

api = DataApi(addr='tcp://data.tushare.org:8910')
api.login("13662241013", 
          'eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTc2NDQzMzg5MTIiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTM2NjIyNDEwMTMifQ.sVIzI5VLqq8fbZCW6yZZW0ClaCkcZpFqpiK944AHEow'
)

ZZ800_id = dp.index_cons(api, "000906.SH", start, end)

stock_symbol = list(set(ZZ800_id.symbol.values))

In [43]:
import jaqs_fxdayu
jaqs_fxdayu.patch_all()
from jaqs.data import DataView
from jaqs.data import RemoteDataService
from jaqs_fxdayu.data.dataservice import LocalDataService
import os
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

dataview_folder = r'C:\Users\11399\OneDrive\到新电脑\笔记\17-18春夏\OFO\股票因子数据\data'
dv = DataView()
ds = LocalDataService(fp=dataview_folder)


factor_list = ['volume']
check_factor = ','.join(factor_list)

dv_props = {'start_date': start, 'end_date': end, 'symbol':','.join(stock_symbol),
         'fields': check_factor,
         'freq': 1,
         "prepare_fields": True}

dv.init_from_config(dv_props, data_api=ds)
dv.prepare_data()

Initialize config success.
Query data...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'close,symbol,trade_status,open,vwap,volume,open_adj,low_adj,trade_date,high_adj,low,high,vwap_adj,close_adj'}
下载进度946/981.
当前请求daily...
{'adjust_mode': 'post', 'fields': 'close,open,low,high,vwap,symbol,trade_date'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.
Query instrument info...
Query adj_factor...
Data has been successfully prepared.

# Spearman_Check

In [44]:
import scipy.stats as scst
import jaqs.util as jutill


def spearman_factor(factor_u='factor_u', factor_j='factor_j', start=20160101, symbol=stock_symbol):
    factors = dict()
    factors["factor_u"] = dv.get_ts(factor_u).loc[start:][stock_symbol].stack()
    factors["factor_j"] = dv.get_ts(factor_j).loc[start:][stock_symbol].stack()

    factors_df = pd.concat(factors.values(),axis=1)
    factors_df.columns = factors.keys()
    factors_df = jutill.fillinf(factors_df).dropna()

    # 两个因子的spearman相关性
    def get_factors_daily_corr(factors_df,
                               f1="factor_u",
                               f2="factor_j"):
        def _cal_corr(df):
            return scst.spearmanr(df[f1], df[f2])[0]

        result = factors_df.groupby(['trade_date']).apply(_cal_corr)
        result = pd.DataFrame(result)
        result.columns = ['spearmanr']
        return result

    result = get_factors_daily_corr(factors_df,"factor_u","factor_j")
    t_stat, p_value = scst.ttest_1samp(result, 0)
    return result.mean(), p_value # 相关关系均值,相关关系均值的ｔ统计量的p_value

# 1_常用技术指标
1. 均线型: 无
2. 超买超卖: Mfi
3. 能量型: 无
4. 趋势型: MTM

## Mfi描述
资金流量指标（Money Flow Index），该指标是通过反映股价变动的四个元素：上涨的天数、下跌的天数、成交量增加幅度、成交量减少幅度来研判量能的趋势，预测市场供求关系和买卖力道。

计算方法：
1. 计算典型价格：$TYP=(close+highest+lowest)/3$
2. 当日现金流为典型价格和当日成交量的乘积：$MF=TYPvolume$
3. 若当日典型价格高于前日典型价格，定义当日现金流为正；若当日典型价格低于前日典型价格，定义当日现金流为负；若当日典型价格等于前日典型价格，当日被舍去。资金比率（Money Ratio）可如下计算：
    $MR=\frac{\Sigma^{t}_{i=t-N+1}(TYP_i>TYP_{i-1})\times MF_i}{\Sigma^{t}_{i=t-N+1}(TYP_i<TYP_{i-1})\times MF_i}$
4. MFI=100-100/(1+MR)

N取14

In [60]:
param = {'N': 10}
dv.add_formula('TYP', "(close_adj+high_adj+low_adj)/3", is_quarterly=False,add_data=True)
dv.add_formula('MF', "TYP*volume", is_quarterly=False,add_data=True)
dv.add_formula('MR',"Ts_Sum(If(Delta(TYP,1)>0,TYP*MF,0),%s)/Ts_Sum(If(Delta(TYP,1)<0,TYP*MF,0),%s)" % (param['N'], param['N']),is_quarterly=False,add_data=True)
dv.add_formula('Mfi', "100-100/(1+MR)", is_quarterly=False,add_data=True).head()

Field [TYP] is overwritten.
Field [MF] is overwritten.

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20160104,53.895866,61.538462,58.315756,43.327806,59.772497,27.142840,48.741527,32.900914,43.783534,NaN,...,NaN,NaN,NaN,NaN,NaN,50.347316,42.294439,NaN,70.998663,22.162506
20160105,38.156055,61.538462,48.051747,23.138550,51.042771,23.719097,52.188990,34.932222,33.078159,NaN,...,NaN,NaN,NaN,NaN,NaN,49.928111,40.319834,NaN,73.887477,22.709604
20160106,35.151499,61.538462,38.026693,32.256242,58.194585,22.461364,43.297056,26.845924,30.348401,NaN,...,NaN,NaN,NaN,NaN,NaN,55.990788,33.002777,NaN,77.519096,28.156272
20160107,18.724465,61.538462,13.450957,37.359425,62.182869,6.194426,25.500653,37.997231,8.055848,NaN,...,NaN,NaN,NaN,NaN,NaN,59.059302,23.374121,NaN,79.174275,30.745599
20160108,32.314113,61.538462,15.474634,38.419065,47.423251,7.738426,27.231645,52.930148,8.493743,NaN,...,NaN,NaN,NaN,NaN,NaN,51.397225,23.635126,NaN,84.180997,44.990393

## MTM描述
因子描述：动量指标（Momentom Index）。动量指数以分析股价波动的速度为目的，研究股价在波动过程中各种加速，减速，惯性作用以及股价由静到动或由动转静的现象。

计算方法：
$MTM=close(t)-close(t-N)$

N=10。

In [62]:
param = {'N': 10}
dv.add_formula('MTM', "Delta(close_adj,%s)"%(param['N']), is_quarterly=False).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20160104,-74.287530,0.0,-78.759135,-53.385368,-13.364315,-3.297792,-22.952321,-34.277880,-16.545500,0.0,...,NaN,NaN,NaN,NaN,NaN,-6.79,-10.074002,NaN,-0.192480,-2.233098
20160105,-91.621287,0.0,-116.096799,-50.213960,-21.074496,-35.451264,-31.220859,-42.112824,-18.928052,0.0,...,NaN,NaN,NaN,NaN,NaN,-9.80,-13.134488,NaN,2.340145,-2.488309
20160106,-74.287530,0.0,-117.847002,-39.906884,-17.476411,-55.650240,-34.784884,-30.454578,-16.280772,0.0,...,NaN,NaN,31.58,NaN,NaN,-6.37,-18.268520,NaN,3.849590,-1.244155
20160107,-127.114218,0.0,-177.937305,-57.349628,-26.141187,-110.682144,-47.045130,-18.381984,-30.178992,0.0,...,NaN,NaN,34.45,NaN,NaN,-11.77,-22.976426,NaN,0.172218,-2.328802
20160108,-100.700874,0.0,-152.851062,-48.892540,-32.015611,-82.444800,-41.912934,1.789230,-24.354976,0.0,...,NaN,NaN,37.89,NaN,NaN,-13.03,-21.780134,NaN,3.657111,-1.658873

## 2_每股指标
1. DilutedEPS

In [63]:
dv.add_formula('DilutedEPS', "eps_diluted2", is_quarterly=False).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20160104,1.2398,0.6203,0.2051,0.0398,0.427,0.1899,0.0954,0.0629,0.4007,1.5831,...,0.2753,NaN,0.6157,NaN,0.3175,0.6145,1.7117,NaN,0.7073,0.1139
20160105,1.2398,0.6203,0.2051,0.0398,0.427,0.1899,0.0954,0.0629,0.4007,1.5831,...,0.2753,NaN,0.6157,NaN,0.3175,0.6145,1.7117,NaN,0.7073,0.1139
20160106,1.2398,0.6203,0.2051,0.0398,0.427,0.1899,0.0954,0.0629,0.4007,1.5831,...,0.2753,NaN,0.6157,NaN,0.3175,0.6145,1.7117,NaN,0.7073,0.1139
20160107,1.2398,0.6203,0.2051,0.0398,0.427,0.1899,0.0954,0.0629,0.4007,1.5831,...,0.2753,NaN,0.6157,NaN,0.3175,0.6145,1.7117,NaN,0.7073,0.1139
20160108,1.2398,0.6203,0.2051,0.0398,0.427,0.1899,0.0954,0.0629,0.4007,1.5831,...,0.2753,NaN,0.6157,NaN,0.3175,0.6145,1.7117,NaN,0.7073,0.1139

# 3_价值（无）

# 4_质量（无）

# 5_动量
1. CMO

## CMO描述
钱德动量摆动指标（Chande Momentum Osciliator），与其他动量指标摆动指标如相对强弱指标（RSI）和随机指标（KDJ）不同，钱德动量指标在计算公式的分子中采用上涨日和下跌日的数据。

计算方法：

1. SU是今日收盘价与昨日收盘价（上涨日）差值加总。若当日下跌，则增加值为0；

$SU=\Sigma^{t}_{i=t-N+1}max(close_i-close_{i-1},0)$

2. SD是今日收盘价与昨日收盘价（下跌日）差值的绝对值加总。若当日上涨，则增加值为0。
$SD=\Sigma^{t}_{i=t-N+1}max(close_{i-1}-close_{i},0)$

3. $CMO=(SU-SD)/(SU+SD)*100$

N取20。

In [67]:
param = {'N': 20}
if not param:
    param = defult_param
dv.add_formula('SU', "Ts_Sum(If(Delta(close_adj,1)>0,close_adj-Delay(close_adj, 1),0),%s)" % (param['N']), is_quarterly=False,add_data=True)
dv.add_formula('SD', "Ts_Sum(If(Delta(close_adj,1)<0,Delay(close_adj, 1)-close_adj,0),%s)" % (param['N']), is_quarterly=False,add_data=True)
dv.add_formula('CMO_J', "(SU-SD)/(SU+SD)*100", is_quarterly=False,add_data=True).head()
dv.add_field("CMO",ds)
print(spearman_factor(factor_u='CMO', factor_j='CMO_J', start=20130101, symbol=stock_symbol))

Field [SU] is overwritten.
Field [SD] is overwritten.
Field [CMO_J] is overwritten.
Query data - query...
当前请求query...
{'fields': 'CMO', 'view': 'factor'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.
(spearmanr    0.953481
dtype: float64, array([ 0.]))

# 6_成长
未预期毛利（Standardized unexpected gross income）。

计算说明：

$SUOI=\frac{GI_1-mean(GI_{-1})}{sd(GI_{-1})}$

$GI=OR-OC$

当数据库中记录数大于五年时取最近五年的数据，记录数不足五年时取全部数据，最后结果仅保留记录数不小于三年的数据。其中净利润按时间排序，年份由近至远，如2014，2013，2012，……。$GI_{1}$为最近一年的数据，$mean(GI_{-1})$为除去最近一年数据的过往数据均值，$sd(GI_{-1})$为除去最近一年数据的过往数据标准差。

# 7_alpha因子
1. alpha171
2. alpha140
3. alpha145

## alpha171描述

In [47]:
dv.add_formula('alpha171',"((-1 * ((low_adj - close_adj) * (open_adj^5))) / ((close_adj - high_adj) * (close_adj^5)))",is_quarterly=False,add_data=True).head()

Field [alpha171] is overwritten.

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20160104,-0.190396,0.0,-0.028778,-0.013858,0.000000,0.000000,0.000000,0.000000,-0.017262,0.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,-0.064208,-0.037774
20160105,-1.388630,0.0,-0.975481,-1.662049,-0.794034,-2.021140,-0.625767,-0.242895,-1.382813,0.0,...,NaN,NaN,NaN,NaN,NaN,-0.836115,-0.642268,NaN,-100.064932,-2.712512
20160106,-4.448266,0.0,NaN,-2.196483,-3.249113,-2.599669,NaN,NaN,-5.487492,0.0,...,NaN,NaN,NaN,NaN,NaN,-5.137887,-0.925443,NaN,-4.340107,NaN
20160107,-0.078771,0.0,0.000000,-0.129639,0.000000,0.000000,-0.018161,-0.457255,-0.040500,0.0,...,NaN,NaN,-7.217728,NaN,NaN,0.000000,-0.006359,NaN,0.000000,0.000000
20160108,-1.347342,0.0,-1.615108,-2.069250,-2.596118,-2.417870,-2.056657,NaN,-2.117790,0.0,...,NaN,NaN,NaN,NaN,NaN,-2.319832,-4.499862,NaN,-6.717631,-2.196112

## alpha145描述

In [49]:
dv.add_formula('alpha145', "(Ts_Mean(volume,9)-Ts_Mean(volume,26))/Ts_Mean(volume,12)*100",is_quarterly=False,add_data=True).head()

Field [alpha145] is overwritten.

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20160104,-7.028301,-412.957378,-2.402220,-23.679655,-14.429693,54.274899,-37.810022,-55.503419,-13.282298,NaN,...,NaN,NaN,NaN,NaN,NaN,-16.286423,47.186680,NaN,18.379176,-58.158230
20160105,-7.204812,-871.129142,-8.547441,-19.148520,-8.523638,52.245236,-37.680860,-58.792523,-5.853686,NaN,...,NaN,NaN,NaN,NaN,NaN,-6.951428,38.870823,NaN,29.246545,-46.899268
20160106,-15.289943,NaN,-25.216176,-20.627970,-0.799843,41.045859,-43.045834,-64.683503,-16.128444,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.408577,35.157192,NaN,35.076447,-30.766128
20160107,-23.061481,NaN,-36.409588,-28.982873,-12.425618,21.825162,-49.428915,-59.110214,-23.851771,NaN,...,NaN,NaN,NaN,NaN,NaN,-3.839522,31.257017,NaN,37.215558,-28.699887
20160108,-10.915831,NaN,-38.737851,-22.458150,-11.994330,13.770793,-48.355759,-54.246845,-17.349598,NaN,...,NaN,NaN,NaN,NaN,NaN,-4.053177,33.750124,NaN,42.601002,-16.281192

## alpha140描述

In [54]:
dv.add_formula('alpha140',"Min(Rank(Decay_linear(((Rank(open_adj)+Rank(low_adj))-Rank(high_adj)+Rank(close_adj),8))),Ts_Rank(Decay_linear(Correlation(Ts_Rank(close_adj, 8), Ts_Rank(Ts_Mean(volume,60), 20), 8), 7), 3))",is_quarterly=False,add_data=True).tail()

Field [alpha140] is overwritten.

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,NaN,3.0,NaN,3.0,NaN,2.0,1.0,NaN,NaN,3.0,...,3.0,NaN,1.0,1.0,NaN,3.0,1.0,1.0,1.0,NaN
20171226,NaN,2.0,NaN,3.0,NaN,1.0,1.0,NaN,NaN,3.0,...,1.0,NaN,1.0,2.0,NaN,3.0,NaN,1.0,1.0,NaN
20171227,NaN,3.0,NaN,3.0,NaN,1.0,1.0,NaN,1.0,3.0,...,1.0,NaN,1.0,3.0,NaN,3.0,NaN,1.0,1.0,NaN
20171228,NaN,3.0,NaN,2.0,NaN,1.0,1.0,NaN,1.0,3.0,...,1.0,NaN,1.0,3.0,NaN,2.0,NaN,3.0,1.0,NaN
20171229,NaN,3.0,NaN,1.0,NaN,3.0,1.0,NaN,1.0,3.0,...,1.0,NaN,1.0,3.0,1.0,1.0,NaN,3.0,1.0,NaN